#map {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.col-xs-4{
   margin: 5px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  border-radius: 7px;
}

#infobox{
	position: absolute;
   bottom: 10px;	
	left: 10px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid black;
	text-align: left;
   width: 300px;
   height: 190px;
   border-radius: 7px;
}

#showinfobox{
   position: fixed;
   bottom: 10px;
	left: 10px;
   padding: 5px;
   background-color: transparent; 
   border: none;
   z-index: 4;
}

#hidebox{
  float: right;
}

.hidden{
  display: none;
}
